@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --bg-color: #0AA1DD;
  --primary-color: #E8F9FD;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

button {
  all: unset;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
  transition: all ease 0.5s;
}

button:hover {
  background-color: white;
  color: var(--bg-color);
}

h1, h2 {
  font-size: 4rem;
}

h3, span, p {
  font-size: 3rem;
  margin-top: 20px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
}